*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search{
    display: flex;
    justify-content: center;

}
.search input{
    width: 600px;
    height: 40px;
    margin: 20px;
    border: 3px solid GREY;
    padding: 20px;
    background-color: lavender;


}
.movieTitle{

}
.movieContainer{
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    display: grid;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    margin: auto;
}
.mainContainer{
    background-color: #333333;
}

.movieDetails{
    width: 500px;
    color: #eeeeee;

}
.movieDetails img {
    width: 500px;
    height: 550px;

}